{{#if showFeaturedImages}}
  {{#if featuredTopics}}
    {{tlp-featured-topics featuredTopics=featuredTopics}}
    <div class="actions-and-meta-data">
          {{raw "list/topic-actions" likeCount=likeCount topicActions=topicActions}}
        {{raw "list/action-list" topic=topic postNumbers=topic.liked_post_numbers className="likes" icon="heart"}}
      </div>
  {{/if}}
{{/if}}
